@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css">
    <title>Document</title>
</head>

<body>
    <h3 class="bg-primary text-white text-center p-2">Файл со стилизацией</h3>
    <p>Таким образом консультация с широким активом обеспечивает актуальность дальнейших направлений развития. Идейные
        соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требует определения
        и уточнения новых принципов формирования материально-технической и кадровой базы. С другой стороны повышение
        уровня гражданского сознания способствует подготовке и реализации системы массового участия.</p>
</body>

</html>