@model IEnumerable<City>
@{
    Layout = "_ImportalntLayout";
}
<div class="m-2">
    <table class="table table-sm table-striped table-bordered">
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Name</td>
                    <td>@x.Country</td>
                    <td>@x.Population</td>
                </tr>
            }
        </tbody>
    </table>
</div>
