@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <title>Party</title>
</head>

<body>
    <div class="text-center">

        <h3>Мы приглашаем на вечеринку.</h3>
        <h5>Ты приглашен!</h5>
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP форма</a>

    </div>
</body>

</html>
