@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party</title>
</head>

<body>
    <div>
        <div>
            <p>Мы приглашаем на вечеринку.</p>

            <a asp-action="RsvpForm">RSVP форма</a>
        </div>
    </div>
</body>

</html>
