@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Document</title>
</head>

<body>
    <div class="text-center">
        <h3>Мы идем на вечеринку!</h3>
        <h4>И ты приглашен!</h4>
        <a class="btn btn-primary" asp-action="ResponseForm">Форма ответа</a>

    </div>
</body>

</html>
