@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <div>
            <p>Мы идем на вечеринку.</p>
            <p>
                Идейные соображения высшего порядка, а также высокотехнологичная концепция общественной системы играет
                важную роль в формировании существующий финансовых и административных условий. Прежде всего реализация
                намеченных плановых заданий играет важную роль в формировании экономической целесообразности принимаемых
                изменений. Прежде всего повышение уровня гражданского сознания играет важную роль в формировании модели
                развития.
            </p>
        </div>
    </div>
</body>

</html>
