@model IEnumerable<GuestResponse>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <title>Ответы</title>
</head>

<body>
    <div class="text-center p-2">
        <h2>Список тех, кто идет на вечеринку</h2>
        <table class="table table-bordered table-stripped table-sm">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Почта</th>
                    <th>Телефон</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

</html>