@model GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">RSVP</h5>
    <form asp-action="RsvpForm" method="post" class="m-2">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Name">Ваше имя:</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Ваша почта:</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Phone">Ваша почта:</label>
            <input asp-for="Phone" class="form-control" />
        </div>
        <div class="form-group">
            <label>Вы прийдете на вечеринку?</label>
            <select asp-for="WillAttend" class="form-control">
                <option value="">Выберите ответ</option>
                <option value="true">Да, прийду</option>
                <option value="false">Нет, не прийду</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>

</body>

</html>