@model GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <title>Спасибо</title>
</head>

<body class="text-center">
    <div>
        <h1>Спасибо, @Model.Name!</h1>
        @if (Model.WillAttend == true)
        {
            @:Спасибо, что согласились прийти на вечеринку!
        }
        else
        {
            @:Грустно, что вы не прийдете.
        }
    </div>
    <a asp-action="ListResponses" class="btn btn-primary">Узнать кто еще прийдет</a>
</body>

</html>
