@page "/pages/bindings"
@using Microsoft.AspNetCore.Mvc.Razor
@model BindingsModel

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form asp-page="Bindings" method="post">
                @for (var i = 0; i <= 2; i++)
                {
                    <div class="form-group">
                        <label>Name №@i</label>
                        <input class="form-control" name="Data[@i].Name" value="Product-@i" />
                    </div>
                    <div class="form-group">
                        <label>Price №@i</label>
                        <input class="form-control" name="Data[@i].Price" value="@(100 + i)" />
                    </div>
                }
                <button type="submit" class="btn btn-primary my-1">Submit</button>
                <a class="btn btn-secondary m-1" asp-page="Bindings">Reset</a>
            </form>
        </div>
        <div class="col">
            <table class="table table-bordered table-sm">
                <tbody>
                    <tr><th>Name</th><th>Price</th></tr>
                    @foreach (var product in Model.Data)
                    {
                        <tr><td>@product.Name</td><td>@product.Price</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@functions
{
    public class BindingsModel : PageModel
    {
        [BindProperty(Name = "Data")]
        //[FromQuery(Name = "Data")]
        public Product[] Data { get; set; } = Array.Empty<Product>();
    }
}