@page
@inject DataContext context;
<h5 class="bg-primary text-white text-center m-2 p-2">Categories</h5>
<ul class="list-group m-2">
    @foreach (var category in context.Categiries)
    {
        <li class="list-group-item">@category.Name</li>
    }
</ul>

<div class="bg-dark text-white m-2 p-2">
    <vc:city-summary theme-name="danger" />
    <vc:cities-page-hybrid />
    <vc:cities-controller-hybrid />
</div>
