@page "/pages/form/{id:int}"
@model FormHandlerModel

<div class="m-2">
    <h5 class="bg-primary text-white text-center p-2">HTML Form</h5>
    <form page="/pages/form" method="post">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" asp-for="Product.Name" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control" asp-for="Product.Price" />
        </div>
        <div class="form-group">
            <label>Category</label>
            <input class="form-control" asp-for="Product.Category.Name" />
        </div>
        <div class="form-group">
            <label>Supplier</label>
            <input class="form-control" asp-for="Product.Suppliler.Name" />
        </div>
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </form>
</div>

@functions
{
    public class FormHandlerModel : PageModel
    {
        private readonly DataContext _dataContext;
        public Product? Product { get; set; }
        public FormHandlerModel(DataContext dataContext)
        {
            _dataContext = dataContext;
        }
        public async Task OnGetAsync(int id = 1)
        {
            Product = await _dataContext.Products
                .Include(x => x.Suppliler).Include(x => x.Category).FirstAsync(x => x.Id == id);
        }
        public IActionResult OnPost()
        {
            foreach (var key in Request.Form.Keys)
            {
                TempData[key] = string.Join(", ", Request.Form[key]);
            }
            return RedirectToPage("FormResults");
        }
    }
}
