@page "/noid"
@model NotFoundModel
<!DOCTYPE html>
<html>
    <head>
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <title>Not Found</title>
    </head>
    <body>
        <div class="bg-primary text-white text-center m-2 p-2">No Matching ID</div>
        <ul class="list-group m-2">
            @foreach (var product in Model.Products)
            {
                <li class="list-group-item">@product.Name (ID: @product.Id)</li>
            }
        </ul>
    </body>
</html>
@functions {
    public class NotFoundModel : PageModel
    {
        private readonly DataContext _context;
        public IEnumerable<Product> Products { get; set; }
        public NotFoundModel(DataContext context)
        {
            _context = context;
        }
        public void OnGetAsync(int id = 1)
        {
            Products = _context.Products;
        }
    }
}
