@model Product
@{
    Layout = "_SimpleLayout";
}
<div class="m-2" wrapper="true">Inner Content</div>
<div route-data></div>
<table class="table table-sm table-striped table-bordered">
    <tablehead bg-color="danger">Product Summary</tablehead>
    <tbody>
        <tr for="Name" />
        <tr for="Price" format="c" />
        <tr for="CategoryId" />
        <tr for="SupplierId" />
    </tbody>
</table>
