@model Product
@{
    Layout = "_SimpleLayout";
}
<div max-product-id="5" for="Id">
    <h5 class="bg-danger text-white text-center p-2">Warning: Expensive Item</h5>
</div>
<div class="m-2" wrapper="true">Inner Content</div>
<div route-data></div>
<table class="table table-sm table-striped table-bordered">
    <tablehead bg-color="danger">Product Summary</tablehead>
    <tbody>
        <tr theme="primary">
            <th>Name</th><td>@Model.Name</td>
        </tr>
        <tr theme="info">
            <th>Price</th><td>@Model.Price.ToString("c")</td>
        </tr>
        <tr for="CategoryId" />
        <tr for="SupplierId" />
    </tbody>
</table>
