@model IEnumerable<Product>
@{
    Layout = "_SimpleLayout";
    var average = Model.Average(x => x.Price);
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h6 class="bg-primary text-white text-center m-2 p-2">Products</h6>
    <div>
        <table class="table table-sm table-striped table-bordered m-2 p-2">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Supplier</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <partial name="_RowPartial" model="p" />
                }
            </tbody>
        </table>
        <a asp-page="/suppliers/list" class="btn btn-secondary">
            Suppliers
        </a>
    </div>
</body>
</html>
