@model Product

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Name
            <span class="badge badge-pill badge-primary bg-dark" style="float:right;">
                <small>@Model.Price.ToString("c")</small>
            </span>
        </h4>
    </div>
    <form asp-controller="Cart" asp-action="Index">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        @Model.Description
        <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right;">
            Add to Cart
        </button>
    </form>

</div>