@page "/list/supplier"
@model ListModel
<!DOCTYPE html>
<html>
    <head>
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <h5 class="bg-primary text-white text-center m-2 p-2">Suppliers</h5>
        <ul class="list-group m-2">
            @foreach (var x in Model.Suppliers)
            {
                <li class="list-group-item">@x</li>
            }
        </ul>
    </body>
</html>
@functions {
    public class ListModel : PageModel
    {
        private readonly DataContext _context;

        public IEnumerable<string> Suppliers { get; set; }
        public ListModel(DataContext context)
        {
            _context = context;
        }

        public void OnGet()
        {
            Suppliers = _context.Suppliers.Select(x => x.Name).ToArray();
        }
    }
}
